
.jumbotron {
	background-image: url(https://static.pexels.com/photos/210711/pexels-photo-210711.jpeg);
	display: flex;
	background-size: cover;
  	height: 300px;
  	align-items: center;
  	background-position: center;
}

#otsikko {
	color: white;
	text-shadow: 2px 2px 2px #000000;
}

#route {
    height: 350px;
}

.foot {
	background-color: LightSteelBlue;
	left:0px;
	right:0px;
	bottom:0px;
	padding-top: 10px;
	position: fixed;
	width: 100%;
	text-align: center;
	font-size: 10px;
}

.centered {
	text-align: center;
}

img {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

table {
	border: 2px;
}

.otsikko2 {
	padding-top: 20px;
}